<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <context-param>
	<param-name>MariaDBDriver</param-name>
	<param-value>org.mariadb.jdbc.Driver</param-value>
 </context-param>
 <context-param>
	<param-name>URL</param-name>
	<param-value>jdbc:mysql://localhost:3306/testdb3</param-value>
  </context-param>
  <context-param>
	<param-name>MariaId</param-name>
	<param-value>java</param-value>
  </context-param>
  <context-param>
	<param-name>MariaPasswd</param-name>
	<param-value>java</param-value>
  </context-param>
  
  <!-- 세션 유지 시간 설정 -->
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config> 
</web-app>